@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Silkscreen&display=swap');


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            line-height: 1.6;
        }

        /* Navigation */
        #Loge {
    width: 90px;
    height: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #38b6ff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #38b6ff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

 /* body */

 
.footer {
    background-color: #f9f9f9;
    padding: 30px 20px;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left h2 {
    color: #3b4cca;
    margin-bottom: 10px;
}

.footer-left p {
    margin: 5px 0;
    color: #2c3e50;
    font-size: 14px;
}

.footer-left i {
    margin-right: 8px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px;
    color: #3b4cca;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #1d2a80;
}

.footer-right img {
    width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-right {
        margin-top: 20px;
    }
}